[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-ms = {extras = ["all"],version = "==2.5.0"}
flask-script = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[dev-packages]
v = {editable = true,version = "*"}
tox = "*"
bandit = "*"
safety = "*"
pytest = "*"
python-coveralls = "*"
